{{ partial "header.html" . }}

<div class="flex flex-col gap-2 my-3 mb-10 ">
  <h1 class="font-black text-3xl md:text-4xl">{{ .Title }}</h1>
  <p class="text-lg">{{ .Description }}</p>
</div>

{{- $pages := union .RegularPages .Sections }}
{{- $paginator := .Paginate $pages }}

{{ .Content }}
<div class="flex flex-col gap-6">
  {{- range $index, $page := $paginator.Pages }}
  {{ partial "post-card.html" (dict "Page" .) }}
  {{ end }}


</div>

{{- if gt $paginator.TotalPages 1 }}
<nav class="pagination w-full flex items-center justify-between">
  {{- if $paginator.HasPrev }}
  <a class="px-2 py-1 rounded dark:bg-white dark:text-black bg-stone-800 text-white" href="{{ $paginator.Prev.URL | absURL }}">
    «&nbsp;{{ i18n "prev_page" }}&nbsp;
    上一页
    {{- if (.Param "ShowPageNums") }}
    {{- sub $paginator.PageNumber 1 }}/{{ $paginator.TotalPages }}
    {{- end }}
  </a>
  {{- end }}
  {{- if $paginator.HasNext }}
  <a class="px-2 py-1 rounded dark:bg-white dark:text-black bg-stone-800 text-white" href="{{ $paginator.Next.URL | absURL }}">
    下一页
    {{- i18n "next_page" }}&nbsp;
    {{- if (.Param "ShowPageNums") }}
    {{- add 1 $paginator.PageNumber }}/{{ $paginator.TotalPages }}
    {{- end }}&nbsp;»
  </a>
  {{- end }}
</nav>
{{- end }}

{{ partial "footer.html" . }}