

/* 左上角的 logo */
.logo {
  margin-right: 2rem; /* 设置右侧外边距为 2rem */
}


.katex {
    color: black; /* 将公式颜色改为蓝色 */
}

/* 覆盖Tailwind的链接颜色变量 */
:root {
    --tw-prose-links: inherit !important;
  }
  
/* 确保暗色模式下的链接颜色也被覆盖 */
.dark {
    --tw-prose-invert-links: inherit !important;
}

/* 全局链接悬浮样式 */
a:hover {
    color: #c0c0c0 !important; /* 银灰色 */
}

/* Search */
#fastSearch {
    display: none;
    position: fixed;
    left: 50%;
    top: calc(5vw + 40px);
    transform: translateX(-50%);
    z-index: 4;
    width: 650px;
    background-color: #fff;
    box-shadow: 0 1px 2px #3c40434d, 0 2px 6px 2px #3c404326;
    border-radius: 4px;
    overflow: hidden;
 
    input {
        padding: 10px;
        width: 100%;
        height: 50px;
        font-size: 18px;
        line-height: 30px;
        border: none;
        outline: none;
        font-family: inherit;
    }
 
    #searchResults {
        display: none;
        overflow-y: auto;
        max-height: 60vh;
        padding-left: 0;
        margin: 0;
        border-top: 1px dashed #ddd;
 
        .search-highlight {
            color: red;
        }
 
        li {
            list-style: none;
            margin: 0;
 
            a {
                text-decoration: none;
                color: inherit;
                padding: 6px 10px;
                display: block;
                font-size: 14px;
                letter-spacing: .04em;
            }
 
            a:hover,
            a:focus {
                filter: brightness(93%);
                outline: 0;
                background-color: rgb(240, 240, 240);
            }
 
            .title {
                font-weight: 600;
            }
        }
 
        li.noSearchResult {
            text-align: center;
            margin: 8px 0;
            color: #888;
        }
    }
}


:root { /* waline */
  --waline-theme-color: #4b3425 !important;
  --waline-active-color: #9c8877 !important;
}