
<!-- 保持隐藏的搜索触发器在所有页面都存在 -->
<li id="search-click" class="menu-item" style="display: none;">
    <a class="menu-item-link" href="javascript:void(0)">Search</a>
</li>

<script>
    // 快捷键功能
    document.addEventListener("keydown", function (event) {
        if ((event.ctrlKey || event.metaKey) && event.key.toLowerCase() === "k") {
            event.preventDefault();
            document.getElementById("search-click").click();
        }
    });
</script>

<!-- 搜索框和结果 -->
<div id="fastSearch">
    <input id="searchInput">
    <ul id="searchResults"></ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>
{{ $search := resources.Get "js/search.js" | minify | fingerprint }}
<script type="text/javascript" src="{{ $search.RelPermalink }}"></script>